@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: rgb(250,247,254);
  
}
*{
  box-sizing: border-box;
}
/* ::-webkit-scrollbar {
  
  background-color: white;
} */
/* ::-webkit-scrollbar-thumb{
  background-color: #F0F0F0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
} */
